<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jan08web</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <session-config>
  	<session-timeout>
  		20
  	</session-timeout>
  </session-config>
  
<!--   <servlet>
  	<servlet-name>board</servlet-name>
  	<jsp-file>/board.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>board</servlet-name>
  	<url-pattern>/board</url-pattern>
  </servlet-mapping> -->
  
  <!-- 에러페이지 설정하기 -->
  <error-page>
  	<error-code>403</error-code>
  	<location>/error.jsp</location>
  </error-page>
  
  
  
  
  <security-constraint>
      <display-name>JSP Protection</display-name>
      <web-resource-collection>
         <web-resource-name>SecureJSPPages</web-resource-name>
         <url-pattern>*.jsp</url-pattern>
      </web-resource-collection>
      <auth-constraint>
         <role-name>nobody</role-name>
      </auth-constraint>
   </security-constraint>

   <security-role>
      <description>
Nobody should be in this role so JSP files are protected
from direct access.
</description>
      <role-name>nobody</role-name>
   </security-role>
</web-app>